{% spaceless %}

{% load i18n osm_tags %}

<h4>
  {{ buschenschank }}
  {% include 'buschenschank/includes/smoking.html' %}
  {% if buschenschank.region %}
    (<a href="{{ buschenschank.region.get_absolute_url }}">{{ buschenschank.region.name }}</a>)
  {% endif %}
</h4>
<ul class="list-unstyled">
  {% if buschenschank.address %}
    <li><strong>{{ buschenschank.address }}</strong></li>
  {% endif %}
  {% if buschenschank.email %}
    <li>{% trans 'Email' %}: {{ buschenschank.email|urlize }}</li>
  {% endif %}
  {% if buschenschank.phone %}
    <li>
      {% trans 'Phone' %}:
      <a href="tel:{{ buschenschank.phone|cut:' ' }}">{{ buschenschank.phone }}</a>
    </li>
  {% endif %}
  {% if buschenschank.website %}
    <li>
      {% trans 'Website' %}:
      <a href="{{ buschenschank.website }}" target="_blank">{{ buschenschank.website }}</a>
    </li>
  {% endif %}
</ul>

{% if buschenschank.future_open_dates.exists %}
  <dl>
    <dt>{% trans 'Open dates' %}</dt>
    <dd>{% include 'buschenschank/includes/open_dates.html' %}</dd>
  </dl>
{% endif %}

{% osmtag buschenschank 'opening_hours' as opening_hours %}
{% osmtag buschenschank 'opening_hours:url' as opening_hours_url %}

{% if opening_hours or opening_hours_url %}
  <dl>
    <dt>{% trans 'Opening hours' %}</dt>
    <dd>
      {% if opening_hours %}{% include 'buschenschank/includes/opening_hours.html' %}{% endif %}
      {% if opening_hours_url %}
        <a href="{{ opening_hours_url }}" target="_blank">{% trans 'Opening hours info (external)' %}</a>
      {% endif %}
    </dd>
  </dl>
{% endif %}

<a class="btn btn-info text-light" href="{{ buschenschank.get_absolute_url }}" role="button">{% trans 'Details' %}&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

{% endspaceless %}
