{% load static template_check pipeline i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Ausgsteckt{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />

    {% stylesheet 'libs' %}
    {% stylesheet 'main' %}
    {% block extracss %}{% endblock %}

    <meta charset="utf-8">
    {% block viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    <meta name="description" content="{% trans 'Information about Heurige in austria' %}">
    <meta name="keywords" content="Heuriger,Buschenschank,ausgsteckt,wine,austria,Wein,Österreich,austria,OpenStreetMap,OpenData">
    {% if noindex %}
      <meta name="robots" content="noindex">
    {% endif %}
    {% block extrameta %}{% endblock %}
  </head>
  <body {% block bodyattr %}{% endblock %}>
    {% include 'includes/navbar.html' %}
    <main id="content" role="main">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      {% include 'includes/footer.html' %}
    </footer>

    {% javascript 'libs' %}
    {% block extrajs %}{% endblock %}

    {% block tracking %}
      {% template_exists 'tracking.html' as tracking_exists %}
      {% if tracking_exists %}
        {% include 'tracking.html' %}
      {% endif %}
    {% endblock %}
  </body>
</html>
