{% load i18n %}

<form action="{% url 'buschenschank:search' %}" class="d-flex" method="GET">
  <div class="input-group">
    <input name="q" type="text" class="form-control" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}placeholder="{% trans 'Search for buschenschank' %}" aria-label="{% trans 'Search' %}">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" title="{% trans 'search' %}">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
