{% extends 'base.html' %}

{% load static pipeline %}

{% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block extracss %}
  {% stylesheet 'map' %}
{% endblock %}

{% block extrajs %}
  {% javascript 'map' %}
{% endblock %}

{% block bodyattr %}
  onload="main_map_init('ausgstecktmap')"
{% endblock %}

{% block content %}
  <div id="buschenschank_maps" data-geojson-url="{% url 'buschenschank:buschenschank.geojson' %}" data-details-url="{% url 'buschenschank:buschenschank_details_api' '000' %}">
    <div id="ausgstecktmap"></div>
  </div>
{% endblock %}
