{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <div class="container">
    <h1>{% trans 'Regions' %}</h1>
    <ul class="list-group">
      {% for region in regions %}
        {% if region.get_buschenschank.exists %}
          <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
            <div class="d-flex flex-row">
              {% if region.region_image %}
                <div class="p-1">
                  <img src="{{ region.region_image.list.url }}" class="img-fluid" alt="Coat of arms {{ region.name }}">&nbsp;
                </div>
              {% endif %}
              <div class="p-1">
                <a href="{{ region.get_absolute_url }}">{{ region }}</a>
              </div>
            </div>
            <span class="badge badge-raisin rounded-pill" title="{% trans 'Buschenschank count' %}">
              {{ region.get_buschenschank.count }}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
