{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <div class="container">
    {% if results.exists %}
      <h4>{{ results.count|default:0 }} {% trans 'Search results' %}</h4>
      <div class="row">
        <div class="col-12">
          {% include 'buschenschank/includes/buschenschank_list.html' with buschenschank_list=results %}
        </div>
      </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        {% trans 'Nothing found' %}
      </div>
    {% endif %}
  </div>
{% endblock %}
