{% load i18n %}

<ul class="list-group">
  {% for buschenschank in buschenschank_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
      <a href="{{ buschenschank.get_absolute_url }}" class="text-decoration-none">
        {{ buschenschank }}
        {% include 'buschenschank/includes/smoking.html' %}
        {% if buschenschank.distance %}&nbsp;({{ buschenschank.distance.m|floatformat:0 }}m){% endif %}
      </a>
      <div class="d-flex flex-row">
        {% include 'buschenschank/includes/contact_info_icons.html' %}
      </div>
    </li>
  {% endfor %}
</ul>
