{% load i18n osm_tags %}

<div class="card">
  <div class="card-header" role="tab" id="headingDescription">
    <h5 class="mb-0">
      <a data-bs-toggle="collapse" href="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
        {{ buschenschank }}
      </a>
      {% include 'buschenschank/includes/smoking.html' %}
      {% if buschenschank.region %}
      (<a href="{{ buschenschank.region.get_absolute_url }}">{{ buschenschank.region.name }}</a>)
      {% endif %}
      {% if user.is_staff %}
      <a href="{{ buschenschank.get_admin_url }}">
        <small><i class="fa fa-pencil" aria-hidden="true" title="{% trans 'edit' %}"></i></small>
      </a>
      {% endif %}
    </h5>
    {% if buschenschank.tags.operator %}
    <span class="fw-light">{% trans 'operated by' %}&nbsp;"{{ buschenschank.tags.operator }}"</span>
    {% endif %}
  </div>

  <div id="collapseDescription" class="collapse show" role="tabpanel" aria-labelledby="headingDescription"
    data-bs-parent="#accordion">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <dl class="buschenschank-description">
              <!-- Contact info -->
              {% include 'buschenschank/includes/contact_details_list.html' %}

              {% if buschenschank.future_open_dates.exists %}
              <h5>{% trans 'Open dates' %}</h5>
              <ul>
                {% include 'buschenschank/includes/open_dates.html' %}
              </ul>
              {% endif %}

              {% osmtag buschenschank 'opening_hours' as opening_hours %}
              {% osmtag buschenschank 'opening_hours:url' as opening_hours_url %}

              {% if opening_hours or opening_hours_url %}
              <h5>{% trans 'Opening hours' %}</h5>
              <ul>
                {% if opening_hours_url %}
                <li>
                  <a href="{{ opening_hours_url }}" target="_blank">{% trans 'Opening hours info (external)' %}</a>
                </li>
                {% endif %}
                {% if opening_hours %}{% include 'buschenschank/includes/opening_hours.html' %}{% endif %}
              </ul>
              {% endif %}
            </dl>
          </div>
          <div class="col-sm">
            {% include 'buschenschank/includes/small_map.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
