{% load i18n %}

<div class="card">
  <div class="card-header" role="tab" id="headingNearby">
    <h5 class="mb-0">
      <a data-bs-toggle="collapse" href="#collapseNearby" aria-expanded="false" aria-controls="collapseNearby">
        <i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;{% trans 'Nearby' %}
      </a>
    </h5>
  </div>

  <div id="collapseNearby" class="collapse" role="tabpanel" aria-labelledby="headingNearby" data-bs-parent="#accordion">
    {% include 'buschenschank/includes/buschenschank_list.html' with buschenschank_list=nearby %}
  </div>
</div>
