{% if make_badge %}
  {% for value in values %}
    <span class="badge badge-pill badge-light badge-raisin">{{ value }}</span>
  {% endfor %}
{% elif make_list %}
  {% for value in values %}
    <li>{{ value }}</li>
  {% endfor %}
{% else %}
  {% for value in values %}
    {% if forloop.counter0 %},&nbsp;{% endif %}{{ value }}
  {% endfor %}
{% endif %}
